.homepage__cards {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  max-width: 950px;
  margin: 10rem auto;
  /* background-color: red; */
  min-height: 50vh;
}

.homepage__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1050px;
  margin: 0 auto;
  min-height: 90vh;
}

@media screen and (max-width: 768px) {
  .homepage__hero {
    flex-direction: column;
  }

  .homepage__cards {
    grid-template-columns: 1fr;
  }

  .homepage__slider {
    flex-direction: column;
  }
}
